*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:"Signika Negative";
  letter-spacing:1px;
}
.container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  background-color:#1F202A;
}
.main{
  width:80%;
  border-radius:5px;
  background-color:#303249;
  color:white;
}
.paragraph{
  width:90%;
  margin:10px auto;
}
.input-area{
  margin: 10px auto;
 display: grid;
 grid-template-columns: 70% 20%;
 justify-content:  center;
}
#text{
  height:25px;
  outline: none;
  border:1px solid white;
 border-radius:3px;
 background-color: #303249;
 margin-right:3px;
 color:white;
 padding-left:3px;
}
#button{
  background-color:#5BCD78;
  color:white;
  border:none;
  border-radius:3px;
}
.widgets{
  width:70%;
  color: #E96C1C;
display: flex;
  align-items: center;
  justify-content: space-between;
}
.widgets ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timer{
  width:30%;
}
span{
  color: #707070;
}
.correct{
  color:white;
}
.wrong{
  color: #CB2828;
}
.active {
  border-bottom:1px solid green;
}
.time-active{
  text-decoration:underline;
}
ul{
  list-style:none;
}
.display{
  display: none;
}
